# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*
!.env.example

# Next.js
.next
out

# NestJS
dist

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Prisma
backend/prisma/dev.db

# Docker
docker-data